<header>
    {{#if user}}
    <p>Welcome, {{user.username</p>

    {{else}}
    <a href=""/login>Log In</a>
{{/if}}

</header>

<h1 class="text-center">BlogPost</h1>
<p class="text-center">Welcome to our website.Please sign up to post your Blogs and reach user just like yourself</p>

<div class="row justify-center">
    <a href="/create/user">Create a User</a>
    <a href="/create/blog">Add a Blog</a>
    <a href="/data">View all BlogPosts</a>
</div>

<