<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>BlogPost</title>
</head>
<body>
    <header >
        <h1 class="header">BLOGPOST</h1>
    <nav>
        <button>Home</button>
        <button>Sign In</button>
        <button>Log In</button>
        <button>Search</button>
        <input type="text" name="blog" Placeholder="Please enter the blog search">
    </nav>
</header>
    
</body>
</html>