<a href="/">Go Back</a>
<h1 class="text-center">Create a blog</h1>
<form action="/create/blog" method="POST">
    <input name="title" type="text" placeholder="Enter the Title">
    <input name="content" type="text" placeholder="Type in your content">
    <button>Submit</button>
</form>