<a href="/">Go Back</a>
<h1 class="text-center">Register</h1>
<form action="/login" method="POST">
  <input name="email" type="email" placeholder="Enter your email address">
  <input name="password" type="password" placeholder="Enter the password">
  <button>Submit</button>
</form>